@if $poster_column_placement =="First" {
  .topic-list .posters {
    width: 70px;
  }
  .poster-avatar {
    text-align: center;
  }
}
@else if $poster_column_placement =="Last" {
  .topic-list .posters {
    width: 70px;
  }
  .poster-avatar {
    text-align: right;
  }
}
@else {
  .topic-list .posters {
    width: 70px;
  }
  .poster-avatar {
    text-align: center;
  }
}

#suggested-topics .topic-list {
  .topic-list-header {
    display: none;
  }
  .author.topic-list-data {
    width: 70px;
  }
}

.topic-list-item .author a {
  color: var(--primary-medium);
}

.topic-list-item .author {
    z-index: 1;
}

.topic-list-item .last-post a {
  color: var(--primary-medium);
}

.topic-list-item .last-post {
    z-index: 1;
}
